/*CSS auto-hider mobile menu when user scrolls down, source:https://meta.discourse.org/t/discourse-tab-bar-for-mobile/75696/116?u=hoangphuctran93 */
html:not(.anon) {

  #topic-progress-wrapper,
  #reply-control.draft {
    bottom: 49px;
  }

  #reply-control.draft {
    margin-bottom: env(safe-area-inset-bottom);
    padding-bottom: 0px;
    transition: all .1s ease-out;
  }

  .posts-filtered-notice {
    transition: all .1s ease-out;
    bottom: 49px;
  }
}

body.tab-bar-hidden {
  .d-tab-bar {
    bottom: -149px;
    transition: all .2s ease-in;
  }

  #topic-progress-wrapper:not(.docked),
  #reply-control.draft {
    bottom: 0;
    transition: all .2s ease-in;
  }

  #reply-control.draft {
    margin-bottom: env(safe-area-inset-bottom);
    padding-bottom: 0px;
    transition: all .2s ease-in;
  }

  .posts-filtered-notice {
    transition: all .2s ease-in;
    bottom: 0;
  }
}

.d-tab-bar {
  transition: all .1s ease-out;

  & .tab.active {
    color: var(--businesslab-primary);
    position: relative;
  }

  & .tab.active::before {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    background: var(--businesslab-primary);
    border-radius: 0px 0px 2px 2px;
  }

  & .tab:nth-child(3) svg {
    padding: .35em .65em;
    font-size: 1.5em;
    background: var(--businesslab-primary);
    color: #fff;
    border-radius: 10px;
  }

  & .tab:nth-child(3):hover svg {
    background: #fff;
    color: var(--businesslab-primary);
  }

  & .tab:nth-child(3).active::before {
    content: none;
  }
}

body:not(.footer-nav-ipad) .footer-nav {
  display: none;
}

html:not(.anon) #topic-progress-wrapper:not(.docked) {
  bottom: 55px;
}


//CSS Topic
html body #main-outlet {
  background: #f9fcff !important;
}

#main-outlet-wrapper #main-outlet {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/*CSS Custom theme*/
#main-outlet-wrapper #main-outlet {
  padding: 30px 15px;
}

html .background-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(225deg, rgba(233, 120, 34, 0.4962359943977591) 0%, rgba(233, 120, 34, 0.25253851540616246) 50%);
  clip-path: ellipse(148% 70% at 91% -14%);
}

//CSS Header
.d-header-icons .search-dropdown {
  display: none;
}

/*#main-outlet-wrapper{
    padding: 0px;
}*/
/*CSS Cover Wellcome Banner*/
.above-main-container-outlet.welcome-link-banner-connectors .welcome-link-banner-wrapper {
  background-position-x: right;
  background-position-y: bottom;
  padding: 1em 0;
}

/*CSS Footer*/
.custom-footer {
  padding: 0 10px 35px;
}

/*CSS Composer button bar suggestions*/
#reply-control {
  .submit-panel {
    margin-top: 1em;
  }
}

.d-editor-textarea-wrapper {
  flex-direction: column-reverse;

  .d-editor-input {
    // Bigger padding on bottom to prevent the last line selection covers the buttons bar
    padding-bottom: 1.75em;
  }

  .d-editor-button-bar {
    border-top: 1px solid var(--primary-low);
    border-bottom: none;

    // Popup menu
    .select-kit.dropdown-select-box.toolbar-popup-menu-options {
      position: static;

      .select-kit-filter {
        display: none;
      }

      .select-kit-body {
        transform: none !important;
        top: auto !important;
        bottom: 0 !important;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 100%;
        width: 100% !important;
        overflow-x: auto;
        background: var(--primary-very-low);
        border: none;
      }

      .select-kit-row {
        padding: 0.5em 0.65em;
        border: 1px solid transparent;
        border-top: none;
      }

      .select-kit-collection {
        display: contents;
      }
    }
  }
}

/*CSS Topic list body*/
.topic-list-header {
  display: flex !important;
  background: #f9fcff !important;

  & tr {
    align-items: center !important;
    justify-content: space-around !important;

    & th.views.num.topic-list-data,
    th.activity.num.topic-list-data,
    th.posters.topic-list-data {
      display: none;
    }
  }
}

.topic-list-header tr {
  border: 0px;
}

.topic-list.sticky-header .topic-list-header tr {
  justify-content: space-between !important
}

.topic-list-data .pull-left {
  padding: 5px;
}

tr.topic-list-item-separator td.topic-list-data {
  max-width: none !important;
}

/*Start CSS Topic list like social*/
//CSS naviation control
#main-outlet-wrapper #main-outlet{
  padding: 0px !important;
  background: unset !important;
  box-shadow: unset !important
}
.list-controls{
  padding: 20px 10px 10px;
  border-radius: 8px;
  background: var(--header_background);
  box-shadow: 0px 0px 8px rgb(0 0 0 / 5%);
  & #navigation-bar , & .navigation-controls {
    margin-top: var(--nav-space);
    margin-bottom: 0px;
  }
}
.topic-list-header {
  background: unset !important;
  & .posts.num, & .bulk-select.topic-list-data{
    display: none !important;
  }
  & th.default.topic-list-data{
    width: 100% !important;
    max-width: 100% !important;
    & .bulk-select-topics{
      padding-left: 0px !important;
      width: 100%;
      justify-content: space-between;
    }
  }
}
.navigation-container {
  & .category-breadcrumb{
    display: flex !important;
    & {
      & li {
        border-radius: 8px !important;
        & details.category-drop{
          border-radius: 8px !important;
          & summary{
            border-radius: 8px !important;
          }
        }
        & details.tag-drop{
          border-radius: 8px !important;
          & summary{
            border-radius: 8px !important;
          }
        }
      }
    }
  }
}
//CSS Topic list
.topic-list-body tr{
  border: unset !important;
  border-radius: 8px !important;
  flex-direction: column;
  &:not(:first-child){
    margin: 16px 0px !important;
  }
  &:last-child{
    margin-bottom: 0px !important;
  }
  & .topic-list-data{
    max-width: 100%;
    border-left: 0px !important;
    padding: 0px 0px 15px;
    border-radius: 8px !important;
    & .pull-left{
      display: none !important;
    }
    & .right{
      margin-left: 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      border-radius: 8px !important;
      & .topic-list-thumbnail{
        //https://www.w3schools.com/howto/howto_css_aspect_ratio.asp
        position: relative;
        width: 100% !important;
        padding-top: 62.5%;
        margin-right: 0px;
        order: 1;
        display: flex;
        border-radius: 8px 8px 0px 0px !important;
        & a{
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          border-radius: 8px 8px 0px 0px !important;
          & img{
            border-radius: 8px 8px 0px 0px !important;
          }
        }
        &::after{
          border-radius: 8px 8px 0px 0px !important;
        }
      }
      & .topic-list-thumbnail.no-thumbnail{

      }
      & .main-link{
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        & .vote-count-before-title{
          position: unset;
        }
        & .title {
          margin-top: 10px;
          width: calc(100% - 52px) !important;
        }
        & .topic-excerpt{
          width: 100%;
          &::after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: var(--primary-low);
            display: inline-block;
            position: relative;
          }
        }
      }
      & .pull-right{
        width: 8%;
        order: 4;
        display: flex;
        justify-content: space-around;
        padding-right: 10px;
        & .num.posts-map{
          display: flex;
          & .number{
            font-weight: normal;
            font-size: Var(--base-font-size-smallest);
            &::before{
              content: "\f086";
              font-family: var(--fa-style-family-classic);
              font-size: .95rem;
              font-weight: normal;
              margin-right: 3px;
            }
          }
        }
      }
      & .topic-item-stats.clearfix{
        width: 82%;
        order: 3;
        display: flex;
        margin-top: 0px !important;
        padding-left: 10px;
        & .num.activity.last{
          margin-right: 10Px;
        }
        & .age.activity::before{
            content: "\f0e7";
            font-family: var(--fa-style-family-classic);
            font-size: .95rem;
            font-weight: normal;
            margin-right: 3px;
        }
      }
    }
  }
}

tr.topic-list-item-separator {
  padding: 10px 0;
  box-shadow: none;
  background-color: transparent;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  & .topic-list-data{
      span{
          border-radius: 8px;
          border: 1px solid var(--danger-medium);
      }
  }
}

tr.topic-list-item-separator td.topic-list-data {
  width: 100% !important;
}
/*CSS Custom Business Discourse Theme Follow FKB Pro Theme */
.topic-image-middle-line.has-image-middle .topic-image {
  width: 100%;
  aspect-ratio: 16/10;
}

.topic-list {
  & .topic-list-body {
    & .link-top-line {
      & .byline {
      }
      & .link-middle-line {
        padding: 0px 10px !important;
        & .topic-excerpt {
          width: 100% !important;
        }
      }
      & .topic-image-middle-line {
      }
      & .topic-tag-bottom-line {
        padding: 0px 10px !important;
      }
    }
  }
}
.topic-list {
  tr .byline .badge-wrapper.box {
    margin: 0 0.5em -1em auto;
  }
}
//CSS topic tag on mobile
.topic-tag-bottom-line .discourse-tags {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: scroll;
  display: block;
  width: calc(100vw - 40px);
  scrollbar-width: none !important;
  & a {
    display: inline-block;
    padding-top: 5px;
    line-height: 1.6em;
  }
  &::-webkit-scrollbar {
    display: none !important;
  }
}
.topic-excerpt{
  margin-bottom: .5rem;
}
/*End CSS Custom Business Discourse Theme Follow FKB Pro Theme */
.topic-list-body {
  & .badge-category-bg, .badge-category-parent-bg{
    border-radius: 0 0 10px 10px !important;
  }
  & .badge-category.clear-badge{
    padding: 0px .5rem;
  }
}
// CSS Topic
.regular{
  & .topic-above-post-stream-outlet{
    background: #fff;
    border-radius: 8px 8px 0px 0px;
    &.topic-title-voting{
      padding: 0px 10px;
      & .vote-count-wrapper{
        min-height: 34px;
      }
    }
  }
  & #topic-title{
    background: #fff;
    border-radius: 0px 0px 8px 8px;
    padding: 15Px 10px 20px;
  }
}
#topic-footer-buttons{
    background: #fff;
    border-radius: 8px;
    padding: 15Px 10px 5px;
}
#suggested-topics{
  & .topic-list-header{
    display: none !important;
  }
  & .topic-list-body tr{
    & td{
      padding: 15px 10px 20px !important;
    }
  }
}
//CSS Category
.category-boxes{
  & .category-box {
    background: #fff !important;
    border: none !important;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 5%);
  } 
}
/*CSS Category title header*/
.category-header-widget{
  & .category-title-header{
    //Source: https://stackoverflow.com/questions/11552380/how-to-automatically-crop-and-center-an-image
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    & .category-title-contents {
      padding: 1rem 0 .5rem 0;
      & .category-logo.aspect-image{
        margin: 0 .5em .25em 0;
        max-width: 100px;
        float: left;
        & img{
            object-fit: cover; /* Do not scale the image https://developer.mozilla.org/en-US/docs/Web/CSS/object-position*/
            object-position: center; /* Center the image within the element https://developer.mozilla.org/en-US/docs/Web/CSS/object-position */
            height: 100px;
            width: 100px;
            border-radius: 10px;
        }
      }
      & .category-title-name{
        text-align: Left;
      }
      & .category-title-description{
        text-align: left;
      }
    }
  }
}
/*End CSS Category title header*/
/*End CSS Topic list like social*/
/*Fix CSS Admin */
.mobile-view .full-width .admin-main-nav{
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  border-radius: 10px 10px 0px 0px !important;
  & .nav.nav-pills{
    background: white;
    padding-top: 10px;
    width: 100%;
    margin-left: 0px;
  }
}

/*End Fix CSS Admin */
/*CSS Calendar*/
#category-events-calendar.fc{
  background: white;
  padding: .5rem 10px .5rem 10px;
  margin-top: 1.5rem;
  border-radius: 10px;
}
.discourse-post-event-upcoming-events{
  background: white;
  padding: .5rem 10px .5rem 10px;
  border-radius: 10px;
}
/*End CSS Calendar*/
