/*Fix CSS Admin */
.boxed.admin-content{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: .5rem;
    & .chart-canvas{
      width: 100% !important;
    }
    & .admin-container{
      & .themes-list-header{
        margin-bottom: .5rem;
        button{
          margin-left: 5px;
          margin-right: 5px;
        }
      }
      & .themes-list-container{
        border-radius: 10px;
        border-top: 1px solid var(--primary-low);
      }
    }
  }
/*End Fix CSS Admin */