//CSS Header search
.title .search-header {
    width: calc(var(--d-max-width)*.65);
    margin: 0 auto !important;
    margin-top: 10px !important;

    &.show-header-results {
        border-radius: 20px 20px 0px 0px !important;
    }

    & .search-icon {
        position: absolute;
        background: var(--businesslab-primary);
        z-index: 2;
        right: 0;
        padding: 10px 35px;
        border-radius: 50px !important;
        border:0px !important;
        top: 3.5px;
        right: 5px;
        & svg {
            color: #fff;
        }
    }

    & .search-input {
        border: 0px;
        & #search-term {
            border-radius: 50px !important;
            background-color: var(--d-hover);
            height: 42px;
        }

        &:focus-within {
            outline: 0px;
            border-color: unset;
        }
    }
    & .search-input:hover {
        & #search-term{
            background-color: var(--d-selected);
        }
        &:focus-within #search-term{
            background-color: var(--d-hover);
        }
        

    }

}
/*CSS Left navigation sidebar
Source: https://github.com/twimbit/neomorphism-discourse*/
.sidebar {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    height:100%;
    width: 68px;
    position: fixed;
    z-index: 2;
    top: 60px;
    left: 0;
}
.home{padding: 22px 10px 7px 10px;}
.explore, .club {
    padding: 7px 10px;
}


.sidebar a {
    /* margin: auto; */
    /* padding: 10px; */
    display: flex;
    color: #9d9283;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
svg:not(:root) {
    overflow: hidden;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 32px;
    height: 24px;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    font-size: 2.1875rem;
}
h5.sidebar-text {
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: normal;
    letter-spacing: -0.02em;
    line-height: 19px;
    text-align: left;
    color: #2c3036;
    border: 1px solid rgba(0, 0, 0, 0);
}
.MuiIconButton-root:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.MuiIconButton-root {
    flex: 0 0 auto;
    background-color: white;
    padding: 10px;
    overflow: visible;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.category-name{
    text-transform:none;
}